#{{ ansible_managed }}
server {

{% for v in item.server.vars %}
   {{ v }};
{% endfor %} 

{% for k,v in item.server.iteritems() if k.find('location') != -1 %}
  location {{ v.name }} {
{% for y in v.vars %} 
      {{ y }};
{% endfor %}
  }
{% endfor %}
}

